@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,600;0,700;1,500&display=swap');

.clock-box {
  background: linear-gradient(99.35deg, #1f767c 26.99%, #42c1ca 110.13%);
  box-shadow: 0px 10px 15px rgba(66, 193, 202, 0.23),
    4px 4px 5px rgba(0, 0, 0, 0.25), inset 2px 4px 5px rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  position: relative;
  z-index: 10;
}

.clock-box h4 {
  font-family: Orbitron;
  font-style: normal;
  font-weight: bold;
  font-size: 85px;
  line-height: 107px;
  /* identical to box height */

  color: #f9f9f9;

  text-shadow: 0px 9px 9px rgba(0, 0, 0, 0.25);
}

.clock-box h6 {
  font-family: Orbitron;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  color: #d9d9d9;
}

.clockout,
.clockin {
  font-family: Orbitron;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  transition: ease-in 0.13s;
}

/* table.table {
  border: none;
} */

.clockin:hover,
.clockout:hover {
  color: white;
  transform: translateY(-5px);
}

.clockin {
  background: linear-gradient(97.12deg, #54a583 31.21%, #21fca1 115.81%);
  box-shadow: 0px 5px 4px rgba(128, 128, 128, 0.15);
  border-radius: 5px;
}

.clockout {
  background: linear-gradient(
    97.12deg,
    #e64926 31.21%,
    rgba(252, 176, 63, 0.74) 115.81%
  );
  box-shadow: 0px 6px 4px rgba(128, 128, 128, 0.15);
  border-radius: 5px;
}

table {
  width: 100%;
}

table tr td {
  padding-top: 25px;
}

hr {
  margin: 4rem auto;
  width: 45%;
  padding: 5px;
  background: #20777c;
}
